<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bayit Shalem - Trouver votre moitié</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bayit Shalem - Trouver votre moitié">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

    <!-- Pre loader -->
  <!-- <div class="preloader">
	<div class="preloader-item">
		<div class="spinner-grow text-primary"></div>
	</div>
</div> -->

<!-- Header START -->
<header class="navbar-light navbar-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">
				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">

				<!-- Nav Search START -->
				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">

					</div>
				</div>
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->
            <a class="btn btn-primary-soft" href="sinscrire.html">S'iscrire</a>
            <a class="btn btn-primary-soft" href="seconnecter.html">Se connecter</a>
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
    <section class="bg-light">
        <div class="container">
    
            <!-- 3 Title -->
            <div class="row position-relative pb-4">
                <div class="position-relative">
                    <h1>Comment ça marche ?</h1>
                    <h5>Une fois inscrit sur le site, votre conseiller prendra un contact téléphonique avec vous, afin d’en savoir plus sur : votre vie, vos attentes et vos envies.</h5>
                </br>
                </div>
            </div>
            <div class="row position-relative pb-4">
                <div class="position-relative">
                    <h2>1. Le Statut De La Shadhanite / Shadhane</h2>
                    <p>La Shadhanite / Shadhane est une personne physique majeure, de confession juive, marié(e), veuf(ve) ou divorcé(e). Les Shadhanites / Shadhanes s'inscrivent librement sur bayitshalem. Les Shadhanites accomplissent leurs missions en qualité de bénévole ou pas, elles peuvent recevoir une rétribution donnée par les célibataires et collectée au préalable par bayitshalem . Il n’existe aucun lien de subordination entre bayitshalem et les Shadhanites. Celles-ci sont libres dans l’exercice de leurs missions et seront seules à en répondre, sous réserve du respect des principes directeurs, des règles et des valeurs émises par bayitshalem .</p>
                </br> 
            </div>
            </div>
            <div class="row position-relative pb-4">
                <div class="position-relative">
                    <h2>2. Activité Minimale De La Shadhanite / Shadhane !</h2>
                    <p>La Shadhanite / Shadhane s’engage à s’investir sérieusement dans sa participation au programme bayitshalem. La Shadhanite / Shadhane est informée de ce que tout manquement aux présentes pourra entraîner la suspension/restriction de sa participation auprès de bayitshalem et la désactivation des codes d’accès à la Plate-forme sans délai.

                        A) Au moment de son inscription au programme bayitshalem, la Shadhanite / Shadhane doit joindre et uploader la liste de l’ensemble de ces Profils célibataires, les profils recevront un email pour leur permettre de compléter leur fiche et d'uploader leur photo et papier d’identité. La Shadhanite / Shadhane pour uploader l’ensemble de ses profils devra compléter un fichier Excel, en quelques clics toutes les fiches seront enregistrées sur la plate-forme. Au cas où la Shadhanite / Shadhane n’aura pas uploader la totalité de ses fiches, elle devra enregistrer l'ensemble de ses profils dans un délai maximum de 3 mois.
                        
                        A titre indicatif, les Shadhanites / Shadhanes qui collaborent avec bayitshalem suivent en moyenne entre 50 et 200 Profils célibataires.
                        
                        En cas d’inactivité totale ou n’ayant honoré ses engagements vis-à-vis de ses profils sur une durée ininterrompue de 1 mois, bayitshalem pourra décider unilatéralement de désactiver les codes d’accès de la Shadhanite / Shadhane à la Plate-forme. L’ensemble des profils restant sans Shadhanite / Shadhane seront disponibles pour toutes les Shadhanite / Shadhane disponibles dans la région, le celibataire recevra un email par la Shadhanite / Shadhane pour l’informer du changement de Shadhanite / Shadhane. Libre à lui de discuter avec chacune des shadhanites qui ont postulé.
                        
                        La Shadhanite / Shadhane pourra pour des raisons personnelles se retirer de la plate-forme ou être indisponible durant une période (ex: Grossesse...).La Shadhanite / Shadhane pourra pour des raisons personnelles se retirer de la plate-forme ou être indisponible durant une période (ex: Grossesse...).
                        
                        Rappel : Dans votre profil de Shadhanite / Shadhane, vous avez indiqué le nombre de profils maximum que vous souhaitiez vous occuper, cette limite une fois atteinte vous recevrez un mail qui vous informera que vous n'apparaissez pas sur la plate-forme pour les nouveaux profils, à tout moment vous pouvez changer dans votre espace le nombre de profils dont vous souhaitez vous occuper.</p>
                </br>
            </div>
            </div>
            <!-- 3 Title -->
            <div class="row position-relative pb-4">
                <div class="position-relative">
                    <h2>3. Mise À Disposition De La Plate-Forme</h2>
                    <p>Afin de faciliter la proposition de rencontres ciblées entre Profils célibataires, bayitshalem donne accès aux Shadhanite / Shadhane à une Plate-forme regroupant les profils femme et homme référencés par vous-même ou par d’autres Shadhanite / Shadhane.

                        La plate-forme est visible sur internet à travers son site internet, auquel s'ajoute une application en ligne disponible sur IOS (Mac) et Androïd.
                        
                        Le code d’accès et son login sont choisis par la Shadhanite / Shadhane lors de son inscription et après validation de son profil et de sa compétence par bayitshalem .
                        
                        Les codes et login sont confidentiels. La Shadhanite / Shadhane s’interdit formellement de les communiquer à quiconque et adoptera toutes les mesures nécessaires pour sécuriser l’accès à la Plate-forme, un système de géolocalisation permettra à la plate-forme de savoir à tout moment d’où l’on s'est connecté
                        
                        La Shadhanite / Shadhane s’engage à n’exploiter la Plate-forme que dans le cadre de ses missions en tant que Shadhanite / Shadhane de bayitshalem , c'est-à-dire pour proposer des rencontres entre Profils célibataires.
                        
                        L’accès à la Plate-forme pourra être retiré à la Shadhanite / Shadhane, à n’importe quel moment sur décision de bayitshalem , notamment en cas de violation des présentes.
                        
                        La Shadhanite / Shadhane reconnaît qu’elle ne dispose d’aucun titre de propriété ou d’autre titre de droit quel qu’il soit sur la Plate-forme de bayitshalem, ni sur les Profils célibataires inscrits. Ces derniers peuvent choisir ou modifier la Shadhanite / Shadhane qui s’occupe de leur profil. Afin d’éviter tout débordement et dans le respect du travail effectué jusque-là par la Shadhanite / Shadhane, elle sera avertie de la demande de changement et pourra accepter le changement ou s'y opposer, ou demander que le profil soit exclu de la plate-forme.</p>
                </br>
            </div>
            </div>
        </div>
    </section>

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<!-- logo -->
				<a class="me-0" href="index.html">
					<img class="light-mode-item h-40px" src="assets/images/logo.svg" alt="logo">
					<img class="dark-mode-item h-40px" src="assets/images/logo-light.svg" alt="logo">
				</a>
				<p class="my-3">Bayit Shalem - Trouver votre moitié.</p>
				<!-- Social media icon -->
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
				</ul>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-6">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Company</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="apropos.html">À propos</a></li>
							<li class="nav-item"><a class="nav-link" href="#">CGU</a></li>
							</ul>
					</div>
									
					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Community</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="#">Documentation</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Faq</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Forum</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Sitemap</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Shadhans</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="devenirshadhan.html">Devenir Shadhan</a></li>
							<li class="nav-item"><a class="nav-link" href="charteshadhan.html">Charte Shadhan</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Terms &amp; Conditions</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Widget 2 END -->

			<!-- Widget 3 START -->
			<div class="col-lg-3">
				<h5 class="mb-2 mb-md-4">Nous contacter</h5>
				<!-- Time -->
				<p class="mb-2">
					Téléphone :<span class="h6 fw-light ms-2"><a href="tel:0637511338">+33.6.37.51.13.38</a></span>
					<span class="d-block small">(9:AM to 8:PM IST)</span>
				</p>

				<p class="mb-0">Email :<span class="h6 fw-light ms-2"><a href="mailto:b.lebar@outlook.fr">b.lebar@outlook.fr</a></span></p>

				<div class="row g-2 mt-2">
					<!-- Google play store button -->
					<div class="col-6 col-sm-4 col-md-3 col-lg-6">
						<a href="#"> <img src="assets/images/client/google-play.svg" alt=""> </a>
					</div>
					<!-- App store button -->
					<div class="col-6 col-sm-4 col-md-3 col-lg-6">
						<a href="#"> <img src="assets/images/client/app-store.svg" alt="app-store"> </a>
					</div>
				</div> <!-- Row END -->
			</div> 
			<!-- Widget 3 END -->
		</div><!-- Row END -->

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="py-3">
			<div class="container px-0">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="text-primary-hover"> Copyrights <a href="#" class="text-body">©2022 Bayit Shalem</a>. Tous droits réservés. </div>
					<!-- copyright links-->
					<div class=" mt-3 mt-md-0">
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
								<!-- Language selector -->
								<div class="dropup mt-0 text-center text-sm-end">
									<a class="dropdown-toggle nav-link" href="#" role="button" id="languageSwitcher" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fas fa-globe me-2"></i>Language
									</a>
									<ul class="dropdown-menu min-w-auto" aria-labelledby="languageSwitcher">
										<li><a class="dropdown-item me-4" href="inscription_en.html"><img class="fa-fw me-2" src="assets/images/flags/uk.svg" alt="">English</a></li>
										<li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="assets/images/flags/gr.svg" alt="">German </a></li>
										<li><a class="dropdown-item me-4" href="inscription_fr.html"><img class="fa-fw me-2" src="assets/images/flags/sp.svg" alt="">French</a></li>
									</ul>
								</div>
							</li>
							<li class="list-inline-item"><a class="nav-link" href="#">Terms of use</a></li>
							<li class="list-inline-item"><a class="nav-link pe-0" href="#">Privacy policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>