<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bayit Shalem - Plateforme interactive de shiduhims</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bayit Shalem - Plateforme interactive de shiduhims">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- Header START -->
<header class="navbar-light navbar-sticky header-static" style="border-bottom: solid; border-bottom-color: #f5f5f5;">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a style="display: block; width: auto;"  href="index.html">
				<img style="height: 60px !important; max-width: inherit !important;" class="light-mode-item navbar-brand-item" src="assets/images/logo2.jpg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">
				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">

				<!-- Nav Search START -->
				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">

					</div>
				</div>
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->
            <a style="overflow: inherit;" class="btn btn-purple-soft" href="sinscrire.html">S'inscrire</a>
            <a style="overflow: inherit;" class="btn btn-purple-soft ms-4" href="seconnecter.html">Se connecter</a>
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
<!-- =======================
Page Banner START -->
<section class="bg-light py-5">
	<div class="container">
		<div class="row g-4 g-md-5 position-relative">
			<!-- SVG decoration -->
			<figure class="position-absolute top-0 start-0 d-none d-sm-block">	
				<img width="27px" height="27px" class="light-mode-item navbar-brand-item" src="assets/images/icon/fiancailles.png" alt="logo"> 
			</figure>

			<!-- Title and Search -->
			<div class="col-lg-10 mx-auto text-center position-relative">
				<!-- SVG decoration -->
				<figure class="position-absolute top-50 end-0 translate-middle-y">
					<img width="27px" height="27px" class="light-mode-item navbar-brand-item" src="assets/images/icon/gateau.png" alt="logo"> 
				</figure>
				<!-- Title -->
				<h1 style="position: absolute;" class="display-7">Bonjour, comment pouvons-nous vous aider ?</h1>
				<!-- Search bar -->
				<!--<div class="col-lg-8 mx-auto text-center mt-4">
					<form class="bg-body shadow rounded p-2">
						<div class="input-group">
							<input class="form-control border-0 me-1" type="text" placeholder="Posez une question...">
							<button type="button" class="btn btn-blue mb-0 rounded">Soumettre</button>
						</div>
					</form>
				</div>-->
			</div>

			<!-- Category START -->
      <div class="col-12">
				<div class="row g-4 text-center">
				 <!-- <p class="mb-0">Choisissez une catégorie pour trouver rapidement l'aide dont vous avez besoin.</p> -->
					<!-- Category item -->
				<!--	<div class="col-sm-6 col-md-3">
						<div class="card card-body card-border-hover p-0">
							<a href="#" class="p-3">
								<h2><i class="fas fa-street-view transition-base"></i></h2>
								<h6 class="mb-0">User Guide</h6>
							</a>
						</div>
					</div> -->

					<!-- Category item -->
				<!-- 	<div class="col-sm-6 col-md-3">
						<div class="card card-body card-border-hover p-0">
							<a href="#" class="p-3">
								<h2><i class="fas fa-hands-helping transition-base"></i></h2>
								<h6 class="mb-0">Assistance</h6>
							</a>
						</div>
					</div> -->

					<!-- Category item -->
				<!-- 	<div class="col-sm-6 col-md-3">
						<div class="card card-body card-border-hover p-0">
							<a href="#" class="p-3">
								<h2><i class="fas fa-exclamation-circle transition-base"></i></h2>
								<h6 class="mb-0">General guide</h6>
							</a>
						</div>
					</div> -->

					<!-- Category item -->
				<!-- 	<div class="col-sm-6 col-md-3">
						<div class="card card-body card-border-hover p-0">
							<a href="#" class="p-3">
								<h2><i class="fas fa-flag transition-base"></i></h2>
								<h6 class="mb-0">Getting started</h6>
							</a>
						</div>
					</div> -->
				</div> <!-- Row END -->
      </div>
			<!-- Category END -->
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Page content START -->
<section class="pt-5 pb-0 pb-lg-5">
	<div class="container">
	
		<div class="row g-4 g-md-5">
			<!-- Main content START -->
			<div class="col-lg-8">
				<!-- Title -->
				<h3 class="mb-4">Questions fréquemment posées</h3>

				<!-- FAQ START -->
				<div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-1">
							<button class="accordion-button fw-bold rounded d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
								Comment fonctionne le site ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Une fois inscrit(e) sur le site, un conseiller expert dédié vous sera attribué et vous contactera, afin d’en savoir plus sur : vous, votre vie, vos attentes et vos envies.
							</br>De là, votre profil sera validé (sous réserve de validation par votre conseiller, certains profils peuvent être refusés). L’algorithme de recherche, développé exclusivement pour le milieu juif, se mettra à la recherche de profils « compatibles ».
						</br>Mais, comme nous ne sommes pas des robots…. Les profils qui pourront vous correspondre seront traités un à un, avec votre conseiller, lors des réunions de « matching » de l’équipe.
					</br>La décision finale se prendra entre votre conseiller et celui de la/du concerné(e).
				</br>Nous vous contacterons pour vous proposer le profil et ce sera à vous de décider si vous voulez aller plus loin…
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-2">
							<button class="accordion-button fw-bold rounded d-inline-block collapsed d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
								Quel abonnement choisir ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
							Pour exploiter toute l’efficacité de la plateforme de Bayit Shalem, la période de 12 mois est la plus judicieuse selon l’expérience de nos abonnés. En effet, réaliser des matching demande du temps, parfois beaucoup de temps. Beaucoup de paramètres doivent être pris en compte, qui parfois complique la rencontre de deux êtres : situation géographique, silhouette, taille, âge, niveau spirituel, statut social, attrait physique etc.
						</br>Et quand bien même tous ces critères seraient compatibles à 100% et que l'équipe de spécialistes approuvent le matching, il se peut que malgré tout au moment de la rencontre, cela ne « matchera » pas, Hachem étant le seul qui mettra le déclic en vous !
					</br>Donc la notion de temps est à prendre en compte, même si dans pas mal de cas, les matching aboutissent en un mois ou deux à peine. Mais pour cela, à chacun son Mazal !
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-3">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
								À quel moment puis-je interrompre mon abonnement ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Les abonnements sont trimestriels, semestriels ou annuels.
							</br>Dès validation du paiement, l’abonnement prendra fonction. Tout abonnement débuté et consommé (que ce soit une période de 3, 6 ou 12 mois) sera dû en totalité et ne peut donner lieu à aucun remboursement ni arrêt des paiements, sous quelque forme que ce soit.
						</br>Tous les abonnements réglés sur PayPal sont automatiquement reconductibles. Le membre peut à tout moment notifier son souhait de résilier la reconduction de son abonnement à Bayit Shalem. Quel que soit le choix de la durée choisie, 7 jours avant sa prochaine échéance, vous pouvez l’interrompre ou vous pouvez tout simplement faire la demande d'interruption par email.
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-4">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
								Comment fonctionne les matching ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Les matchings sont réalisés en fonction des informations que vous avez remplies dans votre formulaire : les éléments importants vous concernant et ce que vous recherchez chez votre futur(e). Par ailleurs, l'entretien avec votre conseiller va lui permettre de mieux connaître votre personnalité et de vous proposer des matching en adéquation avec vous et votre profil.
							</br>Une équipe entière est à votre écoute et fera tout pour faire réussir vos rencontres.
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-5">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
								Puis-je modifier mon profil ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Vous avez accès à votre profil à tout moment : vous pouvez y modifier vos photos, changer les points de votre personnalité… bref, tout est possible à tout moment !
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-6">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
								Puis-je visionner les photos de tous les membres de Bayit Shalem ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-6" class="accordion-collapse collapse" aria-labelledby="heading-6" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								<b>Attention : </b>Bayit Shalem n’est pas et ne sera jamais un site de rencontre. Vos informations sont conservées dans un système sécurisé, ce qui signifie que personne ne peut avoir accès à vos informations en dehors de vous-même ou de votre conseiller.
							</div>
						</div>
					</div>
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-7">
							<button class="accordion-button fw-bold rounded d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
								Pourquoi aurais-je besoin d'un coach ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-7" class="accordion-collapse collapse" aria-labelledby="heading-7" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Beaucoup de personnes, de par leur passé et leurs expériences familiales, ont pu subir des expériences négatives (timidité, manque de confiance en soi, mariage annulé, divorce, veuvage, etc.) et les séances de coaching personnel vont permettre à la personne d'aller au-delà de ses limites, de réveiller et de développer ses capacités mais surtout de faire la paix avec elle-même, pour pouvoir l'être avec les autres et particulièrement avec son ou sa futur(e).
							</br>Le coaching, c'est aussi permettre d'apaiser des colères ou encore des peurs, souvent infondées mais qui nous bloquent dans la relation avec l'autre.
						</br>Au sein de l’équipe de Bayit Shalem, nous avons des coachs de renommée internationale, dotés de capacités hors pair et qui vous permettra de surmonter vos handicaps et d’aborder avec sérénité le moment de la rencontre.
					</br>Pour plus d'informations, n'hésitez pas à nous contacter.
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-8">
							<button class="accordion-button fw-bold rounded d-inline-block collapsed d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
								Combien de rencontres vais-je faire ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-8" class="accordion-collapse collapse" aria-labelledby="heading-8" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Ne nous demandez pas combien de personnes vous allez rencontrer : nous l’ignorons. Ce n’est pas la quantité des contacts qui doit vous intéresser mais leur qualité ! Notre agence refuse de prendre l’initiative du contact pour le contact.
							</br>Ceux-ci peuvent être donc moins nombreux, mais plus porteurs. Cela veut dire que les personnes que nous mettons en présence correspondent aux critères qui nous ont été donnés. Ensuite, le déclic doit se produire. C’est cela, l’alchimie d’une rencontre réussie.
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-9">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expanded="false" aria-controls="collapse-9">
								J'ai un matching à l'extérieur ou je pars en vacances !
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-9" class="accordion-collapse collapse" aria-labelledby="heading-9" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Il vous suffit simplement de l’indiquer dans votre espace membre en cliquant sur le bouton « mode indisponible » afin de mettre en pause les propositions de matching.
							</br>N’oubliez pas de cliquer sur le bouton « mode disponible » lorsque vous l’êtes :)
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-10">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-10" aria-expanded="false" aria-controls="collapse-10">
								Je suis en chidouh et ça marche, que faire ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-10" class="accordion-collapse collapse" aria-labelledby="heading-10" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Être en chidouh est une excellente chose, mais la partie n’est pas encore gagnée. Le chemin va être encore long avant d’arriver sous la Houppa.
							</br>Il devient alors très important de garder le contact avec votre Chadhan, et il deviendra alors votre principal interlocuteur, il se chargera de vous suivre personnellement et de vous coacher si besoin est.
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-11">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-11" aria-expanded="false" aria-controls="collapse-11">
								Nous allons nous marier, dois-je payer de frais de "chadhanout" ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-11" class="accordion-collapse collapse" aria-labelledby="heading-11" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								C'est une obligation qui incombe aux deux parties de payer des frais de « chadhanout » à Bayit Shalem, que ce soit pour un premier mariage ou un remariage. Le montant est de 1 000 euros par partie ( celle du fiancé et celle de la fiancée). Ce montant est à régler impérativement le jour des fiançailles.
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-12">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-12" aria-expanded="false" aria-controls="collapse-12">
								Puis-je obtenir un Cerfa ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-12" class="accordion-collapse collapse" aria-labelledby="heading-12" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Absolument, Bayit Shalem fonctionne en tant qu’association Loi 1901 et délivre des Cerfas pour les résidents français. Cela vous donnera droit à une réduction d’impôts de l’ordre de 66%.
							</br>N’hésitez pas à le demander au service comptable de Bayit Shalem.
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-13">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-13" aria-expanded="false" aria-controls="collapse-13">
								Je n'ai jamais reçu d'email de Bayit Shalem, est-ce normal ? 
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-13" class="accordion-collapse collapse" aria-labelledby="heading-13" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Ce n’est pas normal, mais cela peut arriver. Il vous suffit d’aller vérifier dans votre boite de spam si nos emails sont arrivés par erreur.
							</br>Si ce n’est pas le cas, n’hésitez pas à nous contacter : <a href = "mailto: contact@bayitshalem.com">contact@bayitshalem.com</a>
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-14">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-14" aria-expanded="false" aria-controls="collapse-14">
								Comment supprimer mon compte ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-14" class="accordion-collapse collapse" aria-labelledby="heading-14" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Il suffit simplement de nous envoyer un email dans ce sens et notre service se chargera de le supprimer dans les 48 heures. Aucune copie de votre dossier ne sera conservée en interne.
							</div>
						</div>
					</div>

					<!-- Item -->
					<div class="accordion-item">
						<h6 class="accordion-header font-base" id="heading-15">
							<button class="accordion-button fw-bold collapsed rounded d-block pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-15" aria-expanded="false" aria-controls="collapse-15">
								Vous avez une suggestion à nous faire ?
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-15" class="accordion-collapse collapse" aria-labelledby="heading-15" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
								Vous avez une idée qui pourrait nous permettre d’améliorer notre service ?
Vous n’arrivez pas à finaliser votre inscription ou vous désirez contacter un conseiller ?

							</br>N’hésitez pas à nous écrire par mail à <a href = "mailto: contact@bayitshalem.com">contact@bayitshalem.com</a> ou par téléphone :

						</br>En France : 00.33.1.86.96.97.88 ou au 00.33.1.86.96.29.68
					</br>En Israël : au 053.70.87.73.82 ou au 053.708.80.22
							</div>
						</div>
					</div>
				</div>

				
				<!-- FAQ END -->
			</div>
			<!-- Main content END -->
		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="pt-5 mt-6" style="border-top: solid; border-top-color: #f5f5f5;">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<!-- logo -->
				<a class="me-0" href="index.html">
					<img style="margin-top: -9rem !important;" class="light-mode-item mb-n8" src="assets/images/logo.png" alt="logo">
					<img class="dark-mode-item h-40px" src="assets/images/logo-light.svg" alt="logo">
				</a>
				<p style="font-size: 13px;" class="my-3">Bayit Shalem - Plateforme interactive de shiduhims</p>
				<!-- Social media icon -->
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-6">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Bayit Shalem</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="apropos.html">À propos</a></li>
                            <!--<li class="nav-item"><a class="nav-link" href="commentçamarche.html">Comment ça marche ?</a></li>-->
							<li class="nav-item"><a class="nav-link" href="cgu.html">CGU</a></li>
							</ul>
					</div>
									
					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Communauté</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
							<!--<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>-->
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Shadhans</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="devenirshadhan.html">Devenir Shadhan</a></li>
							<li class="nav-item"><a class="nav-link" href="charteshadhan.html">Charte Shadhan</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Widget 2 END -->

			<!-- Widget 3 START -->
			<div class="col-lg-3">
				<h5 class="mb-2 mb-md-4">Nous contacter</h5>
				<!-- Time -->
				<ul class="nav flex-column">
					<li class="nav-item "><a class="nav-link" href="tel:0767336038">Téléphone : +33.7.67.33.60.38</a></li>
					<li class="nav-item "><a class="nav-link" href="tel:0972537084684">Téléphone : +972.537.084.684</a></li>
					<li class="nav-item "><a class="nav-link" href="mailto:Bayitshalem.global@gmail.com">Email : Bayitshalem.global@gmail.com</a></li>
				</ul>

            <!-- Appli START -->
			<!--	<div class="row g-2 mt-2">

					<div class="col-6 col-sm-4 col-md-3 col-lg-6">
						<a href="#"> <img src="assets/images/client/google-play.svg" alt=""> </a>
					</div>

					<div class="col-6 col-sm-4 col-md-3 col-lg-6">
						<a href="#"> <img src="assets/images/client/app-store.svg" alt="app-store"> </a>
					</div>
				</div> -->
            <!-- Appli START -->
			</div> 
			<!-- Widget 3 END -->
		</div><!-- Row END -->

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="py-3">
			<div class="container px-0">
				<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="text-primary-hover"> Copyrights <a href="#" class="text-body">©2022 Bayit Shalem</a>. Tous droits réservés. </div>
					<!-- copyright links-->
					<div class=" mt-3 mt-md-0">
						<ul class="list-inline mb-0">
							<li class="list-inline-item">
								<!-- Language selector -->
								<div class="dropup mt-0 text-center text-sm-end">
									<a class="dropdown-toggle nav-link" href="#" role="button" id="languageSwitcher" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fas fa-globe me-2"></i>Language
									</a>
									<ul class="dropdown-menu min-w-auto" aria-labelledby="languageSwitcher">
										<li><a class="dropdown-item me-4" href="inscription_en.html"><img class="fa-fw me-2" src="assets/images/flags/uk.svg" alt="">English</a></li>
										<li><a class="dropdown-item me-4" href="inscription_is.html"><img class="fa-fw me-2" src="assets/images/flags/is.svg" alt="">Hebrew</a></li>
										<li><a class="dropdown-item me-4" href="inscription_fr.html"><img class="fa-fw me-2" src="assets/images/flags/fr.svg" alt="">French</a></li>
									</ul>
								</div>
							</li>
							<li class="list-inline-item"><a class="nav-link" href="mentionslegales.html">Mentions légales</a></li>
							<!-- <li class="list-inline-item"><a class="nav-link pe-0" href="#">Privacy policy</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Back to top 
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>-->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>
<!--<script src="//code.tidio.co/zgdvbrzl15jsmkd7uisjxvdjdhrvjjfm.js" async></script>-->
</body>
</html>